.contact {
    padding: 60px 9%;
    background: #fff;
    color: #1f242d;
    text-align: center;
    
}

.contact .section-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact .section-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-form {
    flex: 1;
    max-width: 500px;
    background: #27313f;
    padding: 20px;
    border-radius: 10px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #7cf03d;
    background: transparent;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.input-group textarea {
    height: 100px;
    resize: none;
}

.contact-info {
    flex: 1;
    max-width: 400px;
    text-align: left;
}

.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}

.sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 5px;
    transition: .5s;
}

.sci a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}